body {
		background-color:black;
		background-image:url('bg.jpg');
	}
span {
position: absolute;
}
#track {
	display:inline-block;
	position:absolute;
	margin-left:450px;
	margin-top:5px;
	background-color: #233;
	height: 620px;
	width: 300px;
}
#words {
	margin-left:40px;
	color: white;
	position: absolute;
	width:250px;
	height:50px;
	padding:20px;
}
#scoreField {
		position:relative;
		display:inline-block;
		margin-top:20px;
		margin-left:800px;
		background-color:#226;
		color:#fff;
		width:200px;
		height:50px;
}

#end{
	margin-top:106px;
	margin-left:42px;
	color:white;
}
#scoreText {
	margin-top:-4px;
	margin-left:10px;
}
