body {
		background-color:black;
	}
#track {
	margin-left:450px;
	background-color: gray;
	height: 600px;
	width: 300px;
}
#words {
	margin-left:100px;
	color: white;
	position: absolute;
	width:250px;
	height:50px;
	padding:20px;
}
#scoreField {
		margin-left:200px;
		background-color:green;
		color:red;
		width:100px;
		height:30px;
}

#end{
	margin-top:300px;
	margin-left:50px;
	color:white;
}
